doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    title Mars Spacelines

    block metas
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='description', content=description)
      meta(name='viewport', content='width=device-width, initial-scale=1')

    block css
      link(rel='stylesheet', href='/css/styles.css')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,700')

    block js-head
  body

    // ******************************** Navegador ****************
    block navegador
      nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
        .container
          // *** Menú comprimido.  Sólo muestra la marca y un botón que revelará el menú inferior
          .navbar-header.page-scroll
            button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="#menu-links")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            // Título de la web o nombre/imagen de la marca
            a.navbar-brand(href="#") Mars Spacelines

          // *** Menú desplegado
          .collapse.navbar-collapse#menu-links
            ul.nav.navbar-nav.navbar-right
              // La sección activa se aplica al li
              li.hidden
                a(href="#")
              li.active
                a(href="#") Inicio
              li
                a(href="#") Marte
              li
                a(href="#") El viaje
              li
                a(href="#") Contacto

    // ******************************** Contenido principal ****************
    block contenido
      header.jumbotron.img-header
        .text-head
          h1 Mars Spacelines
          h2 Vuelos espaciales a Marte
      main.container-fluid
        .row#marte.marte
          .col-xs-12.col-md-8.col-md-offset-2
            h2 Marte
            p Lucas ipsum dolor sit amet skywalker aayla cade zabrak mandalorians lobot grievous skywalker hoth anakin. Qui-gonn coruscant jinn watto organa amidala jango darth mon. Antilles wampa windu palpatine skywalker jabba moff darth. Moff antilles vader mon kenobi coruscant darth padmé dantooine. Mandalorians kashyyyk wedge padmé sidious organa biggs. Coruscant sith chewbacca fisto solo. Biggs moff darth calamari ahsoka organa droid lando. Calrissian yoda jade wicket organa organa moff hutt naboo. Solo kashyyyk windu organa thrawn.
            p Mandalore coruscant jabba darth. Hoth dagobah windu calamari jabba endor moff luke. Darth hutt qui-gon hutt. Antilles ben jade endor skywalker grievous yoda darth. Yoda hutt chewbacca qui-gonn calamari biggs. Mon naboo solo binks solo darth fett. Mustafar obi-wan darth fisto organa kashyyyk. Moff vader ackbar moff padmé. Organa moff ben fett skywalker calrissian grievous. Han mothma alderaan padmé darth amidala binks. Grievous skywalker hutt moff calrissian. Lando greedo maul bespin skywalker solo skywalker antilles ahsoka.
            p Darth antilles c-3po darth darth sebulba. Kenobi moff jabba kashyyyk dagobah jabba skywalker mothma. Dantooine organa hutt r2-d2 r2-d2 organa. Moff calrissian yoda leia darth c-3p0. Boba naboo greedo darth solo fett darth ackbar organa. Mandalore lobot leia darth r2-d2 mara. Twi'lek droid wedge yoda skywalker organa wedge. Lars darth amidala owen greedo mon dantooine. Qui-gon lobot darth mace anakin alderaan leia ewok. Grievous calrissian twi'lek yavin boba darth darth. Lars skywalker ben sidious.
        .row.img-marte
        .row#viaje.viaje
          .col-xs-12.col-md-8.col-md-offset-2
            h2 El viaje
            p Lucas ipsum dolor sit amet artaru dat owen naberrie kenobi boba gorog dunhausen tatooine unduli. Dagobah bail anakin even iridonian kyle darth. Qu saffa secura abregado. Chistori hutt plo hapan jan nien d8 ree-yees. Aayla massans t88 utapaun sith baba illum shawda. Gordin massassi skywalker owen. Isolder solo conan qu. Orus kasan rahm pau'an dexter. Haako nute carlist oppo r2-d2 ogemite arkanis kel. Shi'ido halla vratix kamino. Dulok daala jax balosar omwati elomin. Psadan sanyassan noa shado r4-p17 moff.
            p Porkins antemeridian jerec mirax ig-88 beru senex. Mothma calamari bibble vurk salacious vestara calamari. Nien tusken raider bothan ord raynar salacious dooku piell. Mandalorians darth marek bib utapaun yowza aramandi ailyn terrik. Iego ruwee sy braxant. Lorth jabiimas kalarba momaw felucia vor tc-14. Tierce voxyn mygeeto quadrinaros mandalore kal bib boltrunians. Priapulin tharen arvel gizka. Raioballo boz cathar max frozian yevetha gorith. Owen thisspiasian polis cornelius. Givin veers ben obi-wan nar wilhuff farlander.
            p Disponemos de la última tecnología en naves espaciales.  Nuestra nave principal alberga todas las necesidades que pueda tener durante el largo viaje como son nuestra sala de gravedad artificial, gimnasio, sala de realidad virtual, jardín y otras tantas posibilidades para que el viaje sea lo más ameno posible.
            p Para aquellos más aventureros, también tenemos naves de exploración fáciles de controlar y totalmente seguras para poder darse unos paseos espaciales por las zonas cercanas a nuestra nave principal.
            .row
              .col-xs-12.col-lg-4
                figure
                  picture
                    source(srcset="images/ship1-mid.jpg", media="(min-width: 768px)")
                    img.img-responsive.img-thumbnail(srcset="images/ship1-thumb.jpg", alt="Nave principal")
                  figcaption
                    h3 Nave principal
              .col-xs-12.col-lg-4
                figure
                  picture
                    source(srcset="images/ship2-mid.jpg", media="(min-width: 768px)")
                    img.img-responsive.img-thumbnail(srcset="images/ship2-thumb.jpg", alt="Nave auxiliarn")
                  figcaption
                    h3 Nave auxiliar
              .col-xs-12.col-lg-4
                figure
                  picture
                    source(srcset="images/ship3-mid.jpg", media="(min-width: 768px)")
                    img.img-responsive.img-thumbnail(srcset="images/ship3-thumb.jpg", alt="Nave auxiliar")
                  figcaption
                    h3 Cockpit nave auxiliar
        .row.img-viaje
        .row#contacto.contacto
          .col-xs-12.col-md-8.col-md-offset-2
            h2 Contacto
            p Lucas ipsum dolor sit amet artaru dat owen naberrie kenobi boba gorog dunhausen tatooine unduli. Dagobah bail anakin even iridonian kyle darth. Qu saffa secura abregado. Chistori hutt plo hapan jan nien d8 ree-yees. Aayla massans t88 utapaun sith baba illum shawda. Gordin massassi skywalker owen. Isolder solo conan qu. Orus kasan rahm pau'an dexter. Haako nute carlist oppo r2-d2 ogemite arkanis kel. Shi'ido halla vratix kamino. Dulok daala jax balosar omwati elomin. Psadan sanyassan noa shado r4-p17 moff.
            p Porkins antemeridian jerec mirax ig-88 beru senex. Mothma calamari bibble vurk salacious vestara calamari. Nien tusken raider bothan ord raynar salacious dooku piell. Mandalorians darth marek bib utapaun yowza aramandi ailyn terrik. Iego ruwee sy braxant. Lorth jabiimas kalarba momaw felucia vor tc-14. Tierce voxyn mygeeto quadrinaros mandalore kal bib boltrunians. Priapulin tharen arvel gizka. Raioballo boz cathar max frozian yevetha gorith. Owen thisspiasian polis cornelius. Givin veers ben obi-wan nar wilhuff farlander.
            p Ewok teek naboo roonan dantari dooku. Halla trianii kenobi tib. Sarn elrood seerdon nelvaanian kota snivvian vader ubese. Duros aruzan roos shadda nar wol maul elom dulok. Aramandi vima-da-boda zann cognus wuher terentatek. Joelle haruun ben pa'lowick. Mygeeto brak yowza nunb. Barriss kaminoan hoth trandoshan priapulin rotta hapes. Bibble qui-gon plo sith. Mayagil moff dagobah nar secura toydarian yevetha. Drach'nam dug cody neimoidia jettster. Nelvaanian iv ric lumiya. Dorvalla wicket roos talortai dantooine mon theelin tion nahdar.
        .row.img-contacto

    // ******************************** Footer ****************
    block footer


    // ******************************** Scripts final html ****************
    block js-footer
      script(src="//code.jquery.com/jquery-2.1.1.min.js")
      script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")

    //-script(src="js/main.js")
