// Bootstrap
@import "bootstrap"

// Variables
// Imágenes de fondo
$image-header: mars-planet
$image-marte: paisaje-marte
$image-viaje: mars_landscape
$image-contacto: contacto
$altura-min: 250px
$altura-min-lg: 350px

.navbar-inverse
  background-color: rgba(34, 34, 34, 0.90)
.jumbotron
  margin: 0px
.text-head
  text-align: center
  color: rgba(240, 240, 240, 0.95)
  h1
    font-size: 48px
  h2
    font-size: 24px

.caption-ship
  margin-bottom: 5px
  figure
    display: block
    overflow: hidden
    position: relative
  figcaption
    background: rgba(0,0,0,0.75)
    bottom: 0
    color: white
    font-style: italic
    padding: 5px 10px
    position: absolute
    width: 100%

.marte
  background-color: lighten(black, 75%)
.viaje
  background-color: lighten(black, 85%)
.contacto
  background-color: lighten(black, 80%)


// Imágenes de fondo entre secciones
@import "img-fondo"
